@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mures<br />
    Livezeni, Progresului 23B<br />
    Phone:
    0754976009
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">marius.macean@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marius.macean@gmail.com</a>
</address>